.head {
    width: 100%;
    height: 60px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: rgba(0, 255, 255, 0.7);
}

.booleaner {
    height: 50px;
    width: 50px;
    padding-top: 40px;
}

.color {
    color: #0000ff;
}

ul {
    padding-left: 10px;
}